[submodule "tests/JSON-js"]
	path = tests/js/JSON-js
	url = https://github.com/douglascrockford/JSON-js.git
[submodule "tests/js/testrunner"]
	path = tests/js/testrunner
	url = https://github.com/moxiecode/testrunner.git
