src/silverlight/Bin/
src/silverlight/obj/
tmp
lib/**/*.js
bin
wiki
jslint.xml
docs
jscoverage
*~
*.cov.js
*.diff
*.patch
*.suo
*.sln
*.bak
*.log
*.sublime-*
.DS_Store
node_modules
.idea
javascript_*
src/**/*.js
src/**/*.js.map
src/**/*.d.ts

